* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*:focus {
  box-shadow: none !important;
}

#quote {
  background: linear-gradient(
    14deg,
    rgba(83, 206, 241, 1) 0%,
    rgba(255, 104, 211, 1) 51%,
    rgba(242, 239, 241, 1) 98%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
